@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange:#DA722C;
    --dark-blue: #057ADA;
    --light: #E8F7FB;
    --army-blue: #023047;
    --black : #070917;
    --light-blue: #6F7DFB;
    --poppins: "Poppins", sans-serif;
    --raleway: "Raleway", sans-serif;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--light);
   
}

a:hover {
    color: var(--orange);
}



.wrapper {
    max-width: 1360px;
    margin-inline: auto;
    width: 100%;
    padding-inline: 1rem;
}

/* Header / Hero */


header {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding-top: 4rem ;
    
    
}


/* Navbar Start */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navlinks {
    display: flex;
    align-items: center;
    gap: 4rem;
}


.navlinks>* {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 1rem;
}

.navlinks li:last-child {
    padding: 1rem 2rem;
    background-color: var(--army-blue);
    border-radius: 24px;
    transition: .3s ease;
}

.navlinks li:last-child:hover {
    background: var(--dark-blue);
}


/* Navbar Ends */


/* Hero Starts */

.hero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    margin-top: 8rem;
    overflow: hidden;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-text h1 {
    font-family: var(--raleway);
    font-size: 4.2rem;
    font-weight: 900;
    color: var(--light);
}


.hero-text p {
    font-size: 1rem;
    color: var(--light);
    font-family: var(--poppins);
    line-height: 200%;
}


.hero-text button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    align-self: flex-start;
    background: var(--orange);
    color: var(--light);
    padding: 1rem 2rem;
    border-radius: 24px;
    outline: none;
    border: none;
    font-family: var(--poppins);
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
}

.hero-text button:hover {
    background: #d88c59;
}

.hero-image {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    float: right;
}

.hero-image img {
    max-width: 100%;
    flex-grow: 1; 
}

/* Hero Ends */


/* Stats Hero Section */

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    flex-shrink: 0;  
  
}

.stats {
    font-family: var(--poppins);
    background: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 24px;
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.stats.rating i {
    color: yellow;
    margin-inline: 0.3rem;
}

/* Stats Ending */



/* Testimonials */
.testimonials-container {
    display: flex;
    gap: 6rem;
    padding: 3rem;
    position: relative;
    margin: 5rem;
}

.testimonials::before {
    content: "";
    position: absolute;
    width: 30px;
    top: -2px;
    left: 10%;
    height: 100%;
    border-radius: 10px;
    background-color: #023047;
    z-index: -1; /* This negative z-index ensures it's behind positive z-index elements */
}


.testimonial-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--army-blue);
}

.testimonial-text h1  {
    font-family: var(--raleway);
    font-size: 3.5rem;
    font-weight: 900;
}

.testimonial-text p {
    font-family: var(--poppins);
    font-weight: 400;
}

.testimonial-text button {
    padding: 1rem 2rem;
    align-self: flex-start;
    border-radius: 24px;
    font-family: var(--poppins);
    font-weight: 700;
    border: none;
    background-color: var(--orange);
    color: var(--light);
}

.testimonials {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
    z-index: 2; /* Higher z-index than the bar */
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 9px 36px 0px #00000033;
    border-radius: 24px;
    background-color: white; /* Add a background color to ensure opacity */
    position: relative;
    z-index: 2; /* Higher z-index than the bar */
    min-width: 350px;
}

.testimonial-person {
    padding: 24px 32px;
    font-family: var(--raleway);
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: space-between;
}

.testimonial-person h3 {
    font-weight: 900;
    font-size: 1.45rem;
    color: var(--army-blue);
}

.testimonial-person p {
    font-weight: 400;
    
}

.testimonial-person img {
    margin-top: -30px;
}

.purple-box, .orange-box {
    padding: 24px 32px;
    color: var(--light);
    font-weight: 900;
    font-family: var(--raleway);
    font-size: 1rem;
    border-radius: 24px;
    /* Remove position and z-index here */
}

.purple-box {
    background-color: var(--light-blue);
    color: var(--light);
}

.purple-box p {
    color: var(--light);
}

.second {
    margin-left: 2rem;
}

.orange-box {
    background-color: var(--orange);
}



/* Courses */

.courses {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding-block: 4rem ;
    font-family: var(--raleway);
}

.courses-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courses-container h1 {
    font-weight: 900;
    color: var(--light);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.courses-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.course-card {
    background-color: var(--light);
    border-radius: 24px;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
}

.course-card:hover {
    transform: translateY(-3px);
}

.course-card::before {
    content: "";
    position: absolute;
    background-color: var(--army-blue);
    height: 10px;
    bottom: 0px;
    left: 0;
    right: 0;
    width:90%;
    border-radius: 24px;
    margin:0 auto;

}

.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.text h1, p{
    color: var(--army-blue);
}

.text h1 {
    font-size: 2rem;
}

.text p>i {
    padding: 0.5rem;
}

.course-button {
    justify-content: flex-end;
    display: flex;
}

.course-button button{
    padding: 1rem 2rem;
    border-radius: 24px;
    font-family: var(--poppins);
    font-weight: 700;
    border: none;
    background-color: var(--orange);
    color: var(--light);
    
}
.course-cards-wrapper {
    display: flex;
    gap: 2rem;    
}

/* App Container */
.our-app-container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.our-app-text {
    text-align: center;
    display: flex;
    flex-direction:column ;
    gap: 0.5rem;
    font-family: var(--raleway);
    color: var(--army-blue);
}
.our-app-text h1 {
    font-weight: 900;
}

.our-app-text p {
    font-size: 0.8rem;
}

.app-items {
    display: flex;
    gap: 1rem;
    font-family: var(--poppins);
    
}

.app-store {
    background-color: var(--black);
    color: var(--light);
    padding: 1rem 2rem;
}

.app-store i {
    padding: 0.5rem;
 
}
.google-play i {
    padding: 0.5rem;
}

.google-play {
    background-color: var(--black);
    color: var(--light);
    padding: 1rem 2rem;
}

footer {
    background-color: var(--black);
    color: var(--light);
    font-family: var(--poppins);
    padding: 5rem;
}

.links-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.links-container > div h3 {
    color: var(--orange);
}
.links-container > div li {
    cursor: pointer;
}

.credit {
    text-align: center;
    margin-top: 8rem;
    color: var(--light);
    font-size: 0.8rem;
}

/* Media queries for responsiveness */
@media (max-width: 992px) {

    .hero {
        grid-template-columns: 1fr;
    }


    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text p {
        font-size: 2rem;
    }

    .hero-text button {
        font-size: 1.5rem;
    }

    .testimonials-container {
        flex-direction: column-reverse;
    }

    .course-cards-wrapper {
        flex-direction: column;
    }
}
@media (max-width: 834px) {

    .hero {
        grid-template-columns: 1fr;
    }

    .testimonials-container {
        flex-direction: column-reverse;
        padding: 0;
    }

    .links-container  {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

  
}
@media (max-width: 544px) {
    .hero-text h1 {
        font-size: 3.2rem;
    }

    .hero-text p {
        font-size: 1.6rem;
    }

    .hero-text button {
        font-size: 1.5rem;
    }

    .navlinks {
        display: none;
    }

    .wrapper {
        margin-inline: 0 auto;
    }

    .courses {
        margin-inline: 0 auto;
    }

}

